{% extends 'core/main.html' %}

{% block main_content %}
    <style>

        h1 {
        color: white;
        font-weight: bold;
        text-align: center;
        margin: 1rem;
        margin-bottom: 4rem;
        }

        .div-form {
            border-radius: 10px;
            background-color: rgb(100, 98, 105);
        }

        .form-input {
            margin: 1rem;
        }

        .input-label {
            color: white;
            font-weight: bolder;
        }

    </style>

    <div class= "d-flex flex-column justify-content-center">
        <h1>Login</h1>
        <div class="div-form">
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger m-2" style="width: 20rem;">
                        {{error}}
                    </div>
                {% endfor %}
            {% endfor %}

            <form class="d-flex flex-column justify-content-between" style="width: 22rem;"  action=" {% url 'core:login' %}" method="POST">
                <div class="form-input form-label d-flex flex-column justify-content-between"><div class="input-label">{{form.username.label}}</div>{{form.username}}</div>
                <div class="form-input form-label d-flex flex-column justify-content-between"><div class="input-label">{{form.password.label}}</div>{{form.password}}</div>

                {% csrf_token %}
                <button class="btn-lg form-input btn btn-dark" type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock main_content %}
