{% extends 'core/main.html' %}

{% block main_content %}
    <style>
        h1 {
        color: white;
        font-weight: bold;
        font-size: 150px;
        text-align: center;
        margin: 1rem;
        margin-top: 12rem;
        }

        h3 {
            color: white;
            font-weight: bold;
            text-align: center;
        }

    </style>
    <h1>Thanks!</h1>
    <h3>Your comments are really appreciated!<br>We will contact you if necessary</h3>
{% endblock main_content %}