{% extends 'core/main.html' %}
{% block main_content %}
    <style>

        h1 {
        color: white;
        font-weight: bold;
        text-align: center;
        margin: 1rem;
        margin-bottom: 4rem;
        }

        .div-form {
            border-radius: 10px;
            background-color: rgb(100, 98, 105);
        }

        .form-input {
            margin: 1rem;
        }

        .input-label {
            color: white;
            font-weight: bolder;
        }

    </style>

    <div class= "d-flex flex-column justify-content-center">

        <div>
        <h1>Create Book</h1>
        </div>

        <div class="d-flex justify-content-center m-3">
            <div class="div-form">
                <form class="d-flex flex-column justify-content-between" method="POST" action="" style="height: 5   0vh; width: 20vw;">
                    <div class="form-input form-label d-flex flex-column justify-content-between"><div class="input-label">{{form.title.label}}</div>{{form.title}}</div>
                    <div class="form-input form-label d-flex flex-column justify-content-between"><div class="input-label">{{form.author.label}}</div> {{form.author}}</div>
                    <div class="form-input form-label d-flex flex-column justify-content-between"><div class="input-label">{{form.publishing_year.label}}</div>{{form.publishing_year}}</div>
                    <div class="form-input form-label d-flex flex-column justify-content-between"><div class="input-label">{{form.publishing_house.label}}</div> {{form.publishing_house}}</div>
                    <div class="form-input form-label d-flex flex-column justify-content-between"><div class="input-label">{{form.pages.label}}</div>{{form.pages}}</div>
                    {% csrf_token %}

                    {% comment %} 
                    <div class="form-floating mb-3">
                        <input type="{{form.title}}" class="form-control" id="input-title">
                        <label for="input-title">Title</label>
                    </div> 
                    {% endcomment %}

                    <button class="form-input btn btn-dark" type="SUBMIT" >Create</button>
                </form>
            </div>
        </div>
    
    </div>

{% endblock main_content %}